* {
    box-sizing: border-box;
    font-family: georgia, serif;
    font-weight: bold;
  }

#header {
  
  margin-bottom: 50px;
  }


#index-header {
  color: #c0bfbe;
  font-weight: bold;
  margin: 0;
  padding: 0;
}  
#index-header2 {
  color: #c0bfbe;
  font-size: small;
  font-weight: bold;
  margin: 0;
  padding: 0;
}  

#card {
  color:#1d181b;
  font-size: small;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#body {
  color:#c0bfbe
}
#background {
  background-color: #b13019 ; 
  background-position:  center;
  background-repeat: repeat;
  position: center;
  top: 30;
  left: 30;
  width: auto;
  height: auto;
  }  

#navtext {
 color: #c0bfbe;
}

#th, td {
    font-size: 10px;
  }

img {
  max-width: 100%;
}

#footer {
  height: 50px;
}

#footer-content {
  text-align: right;
  color: #c0bfbe;
  height: 50px; 
  padding: 8px;
}
